.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  //   justify-content: space-between;

  &__header {
    display: flex;
    align-items: center;
    position: relative;
    background: $color-blue;
    height: 20%;
    border-bottom: 10px darken($color-pink, 10%) ridge;

    // @include gradient($color-blue, lighten($color-blue, 30%));
    // @include gradient(darken($color-pink, 30%), $color-pink);

    @include gradientToRight(
      darken($color-pink, 30%),
      $color-pink,
      darken($color-pink, 30%)
    );

    &--ball {
      --test: 124rem;

      position: absolute;
      background: white;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      z-index: 1;

      -webkit-box-shadow: inset 0px 0px 18 -2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 0px 0px 18 -2px rgba(0, 0, 0, 0.75);
      box-shadow: inset 0px 0px 18px -2px rgba(0, 0, 0, 0.75);

      // $test: 124rem;

      @include rollBall(var(--test));

      // animation-name: rolling;
      // animation-duration: 2s;
      // animation-timing-function: ease-in-out;
      // //   animation-iteration-count: 5000;
      // // animation-delay: 2s;
      // /* Tells the animation what to-do outside */
      // animation-fill-mode: both;
      // //   animation-direction: alternate;

      // @keyframes rolling {
      //   0% {
      //     transform: translateX(0) rotate(0turn);
      //   }

      //   100% {
      //     transform: translateX(var(--test)) rotate(10turn);
      //   }
      // }

      p {
        max-width: 8rem;
        width: 100%;
        height: 8rem;
        margin: 1.5rem 0 0 1.5rem;
        border-radius: 50%;
        background: #009d1d;
        display: flex;
        justify-content: center;
        align-items: center;

        -webkit-box-shadow: 0px 0px 34px -2px rgba(0, 0, 0, 0.75) inset;
        -moz-box-shadow: 0px 0px 34px -2px rgba(0, 0, 0, 0.75) inset;
        box-shadow: 0px 0px 34px -2px rgba(0, 0, 0, 0.75) inset;
      }
    }

    &--drum {
      position: absolute;
      background: $color-grey;
      width: 10rem;
      height: 10rem;
      z-index: 2;

      @include gradientToRight(
        $color-grey,
        lighten($color-grey, 10%),
        $color-grey
      );

      // @include gradient($color-grey, lighten($color-grey, 20%));
    }

    &--drum2 {
      position: absolute;
      width: 2rem;
      height: 11rem;
      left: 10rem;
      z-index: 2;

      @include gradientToRight(
        $color-green,
        lighten($color-green, 20%),
        $color-green
      );

      // @include gradient($color-green, lighten($color-green, 20%));
    }

    &--ballsHolder {
      display: flex;
      position: absolute;
      align-items: center;
      border: 4px ridge #b0bdd1;
      border-left: none;
      height: 11rem;
      max-width: 115rem;
      width: 100%;
      left: 20rem;
    }

    &--line {
      max-width: 115rem;
      width: 100%;
      border-bottom: 2px ridge #b0bdd1;
    }

    &--line2 {
      position: absolute;
      height: 10rem;
      border-left: 2px ridge #b0bdd1;
      left: 30rem;
    }

    &--line3 {
      position: absolute;
      height: 10rem;
      border-left: 2px solid #b0bdd1;
      left: 80rem;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $color-green;
    height: 80%;
    box-shadow: 5px 0px 90px 2px lighten(black, 10%) inset;

    @include gradientToRight(
      $color-green,
      lighten($color-green, 10%),
      $color-green
    );
  }

  &__section {
    display: flex;
    width: 100%;
    padding: 4rem 0 0 0;

    li {
      list-style-type: none;
    }
  }

  &__ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3;
    // outline: 1px solid red;

    &--container {
      display: flex;
      flex-direction: column;
      max-width: 40rem;
      width: 100%;
      padding-bottom: 1rem;
    }

    &--header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: $color-pink;
      height: 4rem;
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__item {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    background: white;
    height: 6.5rem;
    border: 1px solid $color-grey;
    cursor: pointer;
    user-select: none;
  }

  &__rewards {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 40rem;
    margin: 4rem 0 0 0;
    border-radius: 2rem;
    border: 4px solid #215d00;
    background-color: rgba(0, 0, 0, 0.4);

    &--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 20%;
    }
  }

  &__ticketPay {
    display: flex;
    justify-content: center;
    flex: 3;
    // outline: 1px solid pink;

    &--container {
      display: flex;
      flex-direction: column;
      max-width: 40rem;
      width: 100%;
      padding-bottom: 1rem;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10rem;
    border-bottom: 1rem darken($color-pink, 30%) solid;
  }

  &__panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    align-self: center;
    align-items: center;
    width: 50rem;
    height: 12rem;

    border-radius: 45px 45px 0px 0px;
    -moz-border-radius: 45px 45px 0px 0px;
    -webkit-border-radius: 45px 45px 0px 0px;

    border: 0.8rem darken($color-pink, 30%) solid;

    background: $color-pink;

    &--input {
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: darken($color-pink, 25%);
      height: 5rem;
      width: 98%;
      margin-top: 5px;
      border: 0.4rem darken($color-pink, 30%) solid;

      border-radius: 30px 30px 0px 0px;
      -moz-border-radius: 30px 30px 0px 0px;
      -webkit-border-radius: 30px 30px 0px 0px;

      -webkit-box-shadow: 0px 0px 32px -5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 32px -5px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 32px -5px rgba(0, 0, 0, 0.75);
    }

    &--inputs {
      display: flex;
      justify-content: space-around;
      width: 97%;
    }

    &--money,
    &--bet {
      // background: red;
      width: 98%;
      display: flex;
      position: relative;
      // background: darken($color-pink, 50%);
      margin-top: 1rem;
      align-items: center;

      i {
        font-size: 3rem;
        color: $color-yellow;
        z-index: 2;
      }

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        background: darken($color-grey, 35%);
        width: 20rem;
        height: 2.3rem;
        position: absolute;
        z-index: 1;
        left: 5px;

        -webkit-box-shadow: 0px 0px 34px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 34px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 34px -2px rgba(0, 0, 0, 0.75);
      }
    }

    &--bet {
      i {
        position: absolute;
        right: 0;
        color: darken($color-green, 5%);
      }

      input {
        border: none;
        border-radius: 2rem;
        background: darken($color-grey, 35%);
        width: 20rem;
        height: 2.3rem;
        position: absolute;
        z-index: 1;
        right: 5px;
        -webkit-box-shadow: 0px 0px 34px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 34px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 34px -2px rgba(0, 0, 0, 0.75);
      }
    }
  }

  &__button,
  &__score {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.8rem darken($color-pink, 30%) solid;
    width: 17rem;
    height: 12rem;
    border-radius: 65px 0px 0px 0px;
    -moz-border-radius: 65px 0px 0px 0px;
    -webkit-border-radius: 65px 0px 0px 0px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    text-align: center;

    cursor: pointer;

    transition: all 0.5s;

    background: $color-pink;

    -webkit-box-shadow: 0px 0px 34px -2px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 0px 0px 34px -2px rgba(0, 0, 0, 0.75) inset;
    box-shadow: 0px 0px 34px -2px rgba(0, 0, 0, 0.75) inset;

    &:hover {
      background: darken($color-pink, 20%);
    }

    &:active {
      background: darken($color-pink, 25%);
    }

    // &--p {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   width: 17rem;
    //   height: 12rem;
    //   cursor: pointer;
    //   background: $color-pink;
    //   transition: all 0.5s;

    //   -webkit-box-shadow: 0px 0px 34px -2px rgba(0, 0, 0, 0.75) inset;
    //   -moz-box-shadow: 0px 0px 34px -2px rgba(0, 0, 0, 0.75) inset;
    //   box-shadow: 0px 0px 34px -2px rgba(0, 0, 0, 0.75) inset;

    //   &:hover {
    //     background: darken($color-pink, 20%);
    //   }

    //   &:active {
    //     background: darken($color-pink, 25%);
    //   }
    // }
  }

  &__score {
    left: 0;
    width: 18rem;
    border-radius: 0px 65px 0px 0px;
    -moz-border-radius: 0px 65px 0px 0px;
    -webkit-border-radius: 0px 65px 0px 0px;
  }
}
