.game {
  &__header {
    &--ball {
      p {
        font-size: 3rem;
        font-family: $font-3;
        color: white;
      }
    }
  }

  &__ticket {
    &--header {
      font-size: 1.8rem;
      font-family: $font-1;
      color: white;
    }
  }

  &__list {
    font-size: 3.5rem;
    font-family: $font-1;
    color: darken($color-grey, 20%);
  }

  &__button {
    font-family: $font-2;
    font-size: 3rem;
    color: white;
    user-select: none;
    line-height: 3rem;
  }

  &__score {
    font-family: $font-3;
    font-size: 4rem;
    color: white;
    user-select: none;
  }

  &__panel {
    &--input {
      font-family: $font-2;
      font-size: 2.3rem;
      color: white;
      user-select: none;
    }

    &--money {
      p {
        font-family: $font-2;
        font-size: 1.5rem;
        color: white;
        user-select: none;
      }
    }

    &--bet {
      input {
        font-size: 1.4rem;
        font-family: $font-2;
        color: white;
        text-align: center;

        &::placeholder {
          color: lighten($color-grey, 25%);
        }

        &:-ms-input-placeholder {
          color: lighten($color-grey, 25%);
        }

        &::-ms-input-placeholder {
          color: lighten($color-grey, 25%);
        }
      }
    }
  }

  &__rewards {
    &--item {
      font-family: $font-2;
      font-size: 2.3rem;
      color: white;
      user-select: none;
    }
  }

  &__newTicket,
  &__resetBtn {
    color: white;
    font-family: $font-2;
    font-size: 1.8rem;
    user-select: none;
  }
}
