.game {
  &__ticket {
    &--header {
      font-size: 1.8rem;
      font-family: $font-1;
      color: white;
    }
    &--item {
      font-size: 3.5rem;
      font-family: $font-1;
      color: darken($color-grey, 20%);
    }
  }
}
