@mixin rollBall($test) {
  animation-name: rolling;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  //   animation-iteration-count: 5000;
  // animation-delay: 2s;
  /* Tells the animation what to-do outside */
  animation-fill-mode: both;
  //   animation-direction: alternate;

  @keyframes rolling {
    0% {
      transform: translateX(0) rotate(0turn);
    }

    100% {
      transform: translateX($test) rotate(10turn);
    }
  }
}

@mixin text {
  animation-name: slide-left;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  position: absolute;
  height: 2.5rem;
  overflow: hidden;
  width: 200rem;

  @keyframes slide-left {
    0% {
      margin-left: 280%;
    }

    100% {
      margin-left: -200%;
    }
  }
}
