@mixin gradient($color, $color2) {
  background-image: linear-gradient($color, $color2);
  background-image: -webkit-linear-gradient(
    $color,
    $color2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    $color,
    $color2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin gradientToRight($color, $color2, $color3) {
  background-image: linear-gradient(to right, $color, $color2, $color3);
  background-image: -webkit-linear-gradient(
    to right,
    $color,
    $color2,
    $color3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to right,
    $color,
    $color2,
    $color3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin gradientToBottom($color, $color2) {
  background-image: linear-gradient(to bottom, $color, $color2);
  background-image: -webkit-linear-gradient(
    to bottom,
    $color,
    $color2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to bottom,
    $color,
    $color2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
